<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/menuandfooter.css">
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body style="background-color: #fdffff;">

    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/specification">Specification</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/ourteam">Our team</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>
    </nav>

    <h1>Robot Dashboard</h1>

    <!-- Display Robot Data -->
    <div class="tables">
        <h2>Mort</h2>
        <table>
            <tr>
                <th>Speed</th>
                <th>Object Right</th>
                <th>Object Left</th>
                <th>Object Middle</th>
                <th>Line</th>
            </tr>
            {% for row in specifications %}
            {% if row[0] == 3 %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>

        <h2>Moto-Moto</h2>
        <table>
            <tr>
                <th>Speed</th>
                <th>Object Distance</th>
                <th>Line</th>
            </tr>
            {% for row in specifications %}
            {% if row[0] == 2 %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>

        <h2>King Julien</h2>
        <table>
            <tr>
                <th>Speed</th>
                <th>Object Distance</th>
                <th>Line</th>
            </tr>
            {% for row in specifications %}
            {% if row[0] == 1 %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>

    <!-- Footer -->
    <footer>
        <p>© <span id="current-year"></span></p>
        <script>
            document.getElementById('current-year').textContent = new Date().getFullYear();
        </script>
    </footer>

</body>
</html>
