<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/menuandfooter.css" rel="stylesheet">
        <link href="/static/home-page.css" rel="stylesheet">
        <title>My Webpage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/specification">Specification</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/ourteam">Our team</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
          </ul>
        </nav>

      </head>

    <body style="background-color: #fdffff">

          <div class="poster">
            <img src="/static/images/Untitled design (5).gif">
          </div>

          <h1>What is a Relaybot?</h1>
          <div>
            <p>
              A Relaybot is a robot designed to transport or deliver items from one location to another.
              They typically use sensors, cameras, and artificial intelligence (AI) to navigate environments,
              avoid obstacles, and reach their destinations safely. They may follow pre-programmed routes,
              utilize maps, or adapt to real-time changes in their surroundings. In some cases, relay robots
              can be controlled or monitored remotely, while others operate fully autonomously. These robots
              are designed to improve efficiency, productivity, and safety by reducing human labor in tasks that
              can be repetitive, time-consuming, or hazardous.
            </p>
          </div>


          <h2>Meet our Relaybots:</h2>
          <div class="columnForRobots">

            <div class="robot">
                <img src="/static/images/WhatsApp_Image_2024-12-06_at_09.32.14-removebg-preview.png">
                <h3>King Julien</h3>
                <p>Designed to follow a line and evade obstacles with agility.</p>
            </div>

            <div class="robot">
                <img src="/static/images/Untitled design.png">
                <h4>MotoMoto</h4>
                <p>Dedicated to solving a line maze with precision.</p>
            </div>

            <div class="robot">
                <img src="/static/images/WhatsApp_Image_2024-12-05_at_20.58.42-removebg-preview.png">
                <h5>Mort</h5>
                <p>Programmed to finish a physical maze with efficiency.</p>
            </div>

        </div>


        <div class="footer">
          <footer>© December 2024</footer>
        </div>

    </body>
    </html>
